<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="nav navbar-nav">
       <li><a routerLink="/map">Map</a></li>
       <li><a routerLink="/weather">Weather</a></li>
       <li><a routerLink="/calendar">Calendar</a></li>
       <li><a routerLink="/login">User login</a></li>
       <li *ngIf="currentUser"><a routerLink="/manager">Manager</a></li>
    </ul>
  </div>
</nav>
